*{
    padding: 0px;
    margin: 0px;
}
.container{
    .row{
        .logo{  

            font-size: 15px;
            .mainlogo{
                .logomain{
                    background-color: black;
                }
            }
        }
    }
}